<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Re: bate</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/85fb6328a4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="stylesheets/style.css" />
</head>

<body>


  {{{ body }}}


  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/comment.js"></script>
</body>

</html>