<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="./assets/favicon.png">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Re: bate</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css" />
</head>

<body>


  {{{ body }}}


  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/assets/js/index.js"></script>
</body>

</html>