<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re: bate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/8cbcbd3c6d.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome to <span class=""></span></h2>
      </div>
    </div>
  </div>
    
</head>
<!--BootStrap Jumbotron-->
<div class="jumbotron background-image text-center">
    <div class="container">
        <img src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid" alt="Responsive image">
        <h1 class="display-4 text-white main-h1">RE: bate</h1>
    </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="r">
      <h1>The online forum for letting your thoughts be heard. Pick a topic and leave your comments!</h1>
      <table class="table table-striped">
        <div class="card">
          <div class="card-header">
            Topics of Discussion
          </div>
          <button type="button" class="btn btn-info">Black Friday</button>
          <button type="button" class="btn btn-info">Football</button>
          <button type="button" class="btn btn-info">Thanksgiving</button>
          <button type="button" class="btn btn-info">Christmas</button>
          <button type="button" class="btn btn-info">Covid</button>
        </div>
    </div>
  </div>
</div>
</d>

<div class="container">
    <div class="row text-center bg-light">
        <div class="card card-body">

            <form id="form" class="form-inline align-items-center">
                <div class="col-md-8">
                    <div class="input-group md-2">
                        <input type="text" id="inputComment" class="form-control"
                            placeholder="What do you think?">
                    </div>
                </div>
                

                <div class="col">
                    <button type="submit" id="submitComment" class="btn btn-success submitComment">Submit</button>
                </div>
            </form>
            

        </div>
    </div>
</div>

<body>
    {{{body}}}
</body>

</html>
