<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re: bate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/8cbcbd3c6d.js"></script>
    <link rel="stylesheet" href="/assets/css/mainstyle.css" />
</head>

<body>
    {{{body}}}
</body>

</html>