<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
    </div>
</nav>
<!--BootStrap Jumbotron-->
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container style">
        <h1 class="display-4 ">Re: bate</h1>
        <p class="lead">Welcome to Re: bate! The online forum for letting your thoughts be heard. Read up on the
            topic
            of the day and leave your thoughts!</p>
    </div>
</div>

<div class="card text-center topicDiv">
    <div class="card-header">
        <h1>Today's Topic</h1>
    </div>
    <div class="card-body">
        <h5 id="topicTitle" class="card-title"></h5>
        <a id="topicTag" href="">
            <p id="topicURL" class="card-text"></p>
        </a>
    </div>
    <div>
        <button id="Topic1" class="btn btn-outline-light btn-lg topicButton">Click For Topic One!</button>
        <button id="Topic2" class="btn btn-outline-light btn-lg topicButton">Click For Topic Two!</button>
        <button id="Topic3" class="btn btn-outline-light btn-lg topicButton">Click For Topic Three!</button>
    </div>

</div>

<div class="container">
    <div class="row text-center bg-light  ">
        <div class="card card-body " id="bugfix">
            <h4>Enter Your Comment!</h4>
            <form id="form" class="form-inline justify-content-center align-item-center">
                <div class="row text-center">
                    <div class="col-sm-12 col-md-12 col-lg-12 ">
                        <h2 class="cool-font">Name</h2>
                        <input class="form-control" type="text" id="name" placeholder="Enter Your Name">
                        <h2 class="cool-font">Title</h2>
                        <input class="form-control" type="text" id="title" placeholder="Enter Comment Title">
                        <br>
                        <h2>Comment</h2>
                        <textarea class="form-control" rows="3" id="comment-box"
                            placeholder="What do You think?"></textarea>
                        <br>
                        <button id="comment-submit" class="btn btn-lg pull-right">Submit!</button>
                        <div><i class="far fa-comments fa-10x fa-align-center float-right"></i></div>
            </form>
        </div>

    </div>
</div>
</div>
</div>
<br>
<div id="comment-container" class="container">Comments

</div>


</div>