<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout.html">
                Logout
            </a>
        </div>
    </div>
</nav>
<!--BootStrap Jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Re: bate</h1>
        <p class="lead">Welcome to Re: bate! The online forum for letting your thoughts be heard. Pick a topic and leave
            your comments!</p>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="r">
            <h1>Choose a topic below and get started!</h1>
            <table class="table table-striped">
                <div class="card">
                    <div class="card-header">
                        Topics of Discussion
                    </div>
                    <div class="buttons">
                        <button type="button" class="btn btn-info btn-block">Black Friday</button>
                        <button type="button" class="btn btn-info btn-block">Football</button>
                        <button type="button" class="btn btn-info btn-block">Thanksgiving</button>
                        <button type="button" class="btn btn-info btn-block">Christmas</button>
                        <button type="button" class="btn btn-info btn-block">Hanukkah</button>
                        <button type="button" class="btn btn-info btn-block">Kwanza</button>
                        <button type="button" class="btn btn-info btn-block">Covid</button>
                    </div>
                </div>
        </div>
    </div>
</div>
</d>

<div class="container">
    <div class="row text-center bg-light">
        <div class="card card-body">

            <form id="form" class="form-inline align-items-center">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <p class="cool-font">First Name</p>
                        <input class="form-control" type="text" id="firstName" placeholder="Enter Your Name">
                        <p class="cool-font"> Last Name</p>
                        <input class="form-control" type="text" id="lastName" placeholder="Enter Your Name">
                        <p class="cool-font">Title</p>
                        <input class="form-control" type="text" id="title" placeholder="Enter Your Name">
                        <br>
                        <p class="">Comment</p>
                        <textarea class="form-control" rows="3" id="comment-box"
                            placeholder="What do You think?"></textarea>
                        <button id="comment-submit" class="btn btn-lg pull-right">Submit!</button>
                    </div>
                </div>
            </form>
            <div id="comment-container" class="container">Comments

            </div>
            </form>


        </div>
    </div>
</div>