<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout.html">
                Logout
            </a>
        </div>
    </div>
</nav>
<!--BootStrap Jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Re: bate</h1>
        <p class="lead">Welcome to Re: bate! The online forum for letting your thoughts be heard. Read up on the topic
            of the day and leave your thoughts!</p>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Today's Topic
    </div>
    <div class="card-body">
        <h5 class="card-title">Article Title</h5>
        <p class="card-text">Article URL</p>
    </div>
</div>

<div class="container">
    <div class="row text-center bg-light">
        <div class="card card-body" id="bugfix">

            <form id="form" class="form-inline align-items-center">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <p class="cool-font">Name</p>
                        <input class="form-control" type="text" id="name" placeholder="Enter Your Name">
                        <p class="cool-font">Title</p>
                        <input class="form-control" type="text" id="title" placeholder="Enter Your Name">
                        <br>
                        <p class="">Comment</p>
                        <textarea class="form-control" rows="3" id="comment-box"
                            placeholder="What do You think?"></textarea>
                        <button id="comment-submit" class="btn btn-lg pull-right">Submit!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<div id="comment-container" class="container">Comments

</div>

<div class="container">
    <div class="row text-center bg-light">
        <div class="card card-body">

            <form id="form" class="form-inline align-items-center">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <p class="cool-font">First Name</p>
                        <input class="form-control" type="text" id="name" placeholder="Enter Your Name">
                        <p class="cool-font">Title</p>
                        <input class="form-control" type="text" id="title" placeholder="Enter Your Name">
                        <br>
                        <p class="">Comment</p>
                        <textarea class="form-control" rows="3" id="comment-box"
                            placeholder="What do You think?"></textarea>
                        <button id="comment-submit" class="btn btn-lg pull-right">Submit!</button>
                    </div>
                </div>
            </form>
            <div id="comment-container" class="container">Comments

            </div>




        </div>
    </div>
</div>