body {
  background: linear-gradient(to right, #D3D3D3, #BDBDBD, #9E9E9E, #7D7D7D, #696969);
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  color: white;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}

.jumbotron{
  background-image: url('https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  height:800px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom:1px solidcolor;
  color: white;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
 }
 .jumbotron .container {
     position:relative;
     top:50px;
 }

 .btn-info{
   background: #A9A9A9;
   font-family: 'Roboto', sans-serif;
   color: black;
   border-color: black;
   width: 50%;
 }

 .btn-success {
  background: #696969;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  font-style: bold;
  border-color: black;
 }

 .card {
   background: #536878;
   width: 50rem;
   margin: 0 auto;
   float: none;
   margin-bottom: 10px;
   font-family: 'Roboto', sans-serif;
   color: whitesmoke;
 }

 .card.header {
  background: #536878;
  width: 50rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
}

 .r {
  font-family: 'Roboto', sans-serif;
  color: white;
 }

 #comment-container{
  width: 50rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  color: black;
 }

 .form {
  background: #536878;
  width: 50rem;
  float: none;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
}

.card-header {
  color: white;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}

.btn-lg {
  background: #A4B2B9;
  margin-top: 10px;
  border-color: black;
  font-weight: bold;
}

#bugfix {
  margin-bottom: 0;
}